<!DOCTYPE html>
<html lang="en"  >
	<head>
	<title> Document  </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 	
	<link rel="stylesheet" href="vendor/bootstrap.css">
	<link rel="stylesheet" href="vendor/angular-material.min.css">
	<link rel="stylesheet" href="vendor/font-awesome.css">
 	<link rel="stylesheet" href="1.css">

  
</head>
<!-- ng-app nói với angular đây là khu vực viết angular  -->
<body ng-app="myApp" >  


        <div ng-controller="controllerPost" layout="column" ng-cloak="" class="inputdemoErrorsAdvanced" ng-app="MyApp">

          <md-content layout-padding="">
            <form name="userForm">
              <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">

                <md-input-container>
                  <md-switch ng-model="showHints">Showing {{showHints ? "Hints" : "Errors"}}</md-switch>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Name</label>
                  <input md-maxlength="30" required="" name="name" ng-model="user.name">

                  <div class="hint" ng-if="showHints">Tell us what we should call you!</div>

                  <div ng-messages="userForm.name.$error" ng-if="!showHints">
                    <div ng-message="required">Name is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                  </div>
                </md-input-container>

                <div flex="5" hide-xs="" hide-sm="">
                  <!-- Spacer //-->
                </div>
              </div>

            </form>
          </md-content>

        </div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->

	<script type="text/javascript" src="vendor/jquery-3.5.1.min.js"></script>  
	<script type="text/javascript" src="vendor/bootstrap.js"></script>  
	<script type="text/javascript" src="vendor/angular-1.5.min.js"></script>  
	<script type="text/javascript" src="vendor/angular-route.min.js"></script>  
  	<script type="text/javascript" src="vendor/angular-animate.min.js"></script>
  	<script type="text/javascript" src="vendor/angular-aria.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-messages.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-material.min.js"></script>  
  	<script type="text/javascript" src="1.js"></script>
</body>
</html>